.display {
	padding: 1rem;
	text-align: left;
	flex: 1;
}

.block {
	display: block;
	margin: 0;
}

.placeholder-container {
	margin-top: 2rem;
}

.placeholder {
	text-align: center;
	color: #aaa;
}

.explanation {
	padding-bottom: 2rem;
	white-space: pre;
	font-family: 'Courier New', Courier, monospace;
	overflow: auto;
}