.results {
	background: #eee;
	margin: 1rem auto;
	list-style-type: none;
	text-align: left;
}

.results li {
	cursor: pointer;
	padding: 0.5rem;
}

.highlight {
	background: #011627;
	color: #fff;
	padding: 0 5px;
}